@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/designs")

<div class="bg-full" id="blackjack" align="center">
    <div class="game-table">
        <div class="player-spot">
            <div class="cup-holder cup-left"></div>
            <div class="player-chip-tray"></div>
            <div class="cup-holder cup-right"></div>
        </div>
        <div class="player-spot">
            <div class="cup-holder cup-left"></div>
            <div class="player-chip-tray"></div>
            <div class="cup-holder cup-right"></div>
        </div>
        <div class="player-spot">
            <div class="cup-holder cup-left"></div>
            <div class="player-chip-tray"></div>
            <div class="cup-holder cup-right"></div>
        </div>
        <div class="player-spot">
            <div class="cup-holder cup-left"></div>
            <div class="player-chip-tray"></div>
            <div class="cup-holder cup-right"></div>
        </div>
        <div class="player-spot">
            <div class="cup-holder cup-left"></div>
            <div class="player-chip-tray"></div>
            <div class="cup-holder cup-right"></div>
        </div>
        <div class="game-mat">
            <div class="mat-items">
                @Html.Partial("_DiscardDeck")
                @Html.Partial("_ChipTray")
                @Html.Partial("_DealerShoe")
                <div class="player-bets">
                    <div class="player-bet"></div>
                    <div class="player-bet"></div>
                    <div class="player-bet"></div>
                    <div class="player-bet"></div>
                    <div class="player-bet"></div>
                </div>
            </div>
            <div class="mat-text">
                @Html.Partial("_BlackjackText")
            </div>
        </div>
    </div>

    <div class="player-display">
        @Html.Partial("_PlayerDisplay")
    </div>

    <div class="chip-section">
        <div class="chip play-chip" id="chip-1">
            <div class="inner-chip">
                <div class="chip-value">1</div>
            </div>
        </div>
        <div class="chip play-chip" id="chip-5">
            <div class="inner-chip">
                <div class="chip-value">5</div>
            </div>
        </div>
        <div class="chip play-chip" id="chip-10">
            <div class="inner-chip">
                <div class="chip-value">10</div>
            </div>
        </div>
        <div class="chip play-chip" id="chip-25">
            <div class="inner-chip">
                <div class="chip-value">25</div>
            </div>
        </div>
        <div class="chip play-chip" id="chip-100">
            <div class="inner-chip">
                <div class="chip-value">100</div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")